.loop-team {
    position: relative;
    width: fit-content;
    &__title {
        margin-top: 2rem;
        color: $black-clr;
    }
    &__popup {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 1.6rem;
        left: 1.6rem;
        width: 3.6rem;
        height: 3.6rem;
        background-color: $light-rose-clr;
        border-radius: 50%;
        color: $white-clr;
        font-size: 2rem;
        text-align: center;
        cursor: pointer;
    }
}